.contain {
  min-height: 92.5vh;
  background-color: rgb(18, 55, 83);
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  overflow-x: auto;
  scroll-behavior: smooth;
  padding-left: 0.75rem;
}

.contain::-webkit-scrollbar {
  width: 10px;
  margin-bottom: 1rem;
}

.contain::-webkit-scrollbar-thumb {
  background: #07b4ee;
  border-radius: 20px;
}

.contain::-webkit-scrollbar-track {
  background: #ddd;
  /* border-radius: 20px; */
}

.new-list {
  margin-right: 20px;
  cursor: pointer;
  min-height: 2.5rem;
  min-width: 2.5rem;
  background-color: #07b4ee;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.25);
  border-style: none;
  border-radius: 1.5rem;
  color: rgb(0, 0, 0);
  font-weight: 500;
  font-size: 1.25rem;
  transition: 0.5s;
  outline: none;
  margin-top: 2rem;
  margin-right: 2rem;
  margin-left: 1rem;
}

.new-list:hover {
  background-color: rgba(7, 180, 238, 0.8);
}

.padding-div {
  min-width: 2%;
  min-height: 10px;
  /* border: 1px solid black; */
}
